In [1]:
from core import variables

In [2]:
# set parameters
# name of file for export
csv_filename = 'census_vars_tract.csv'

# census api key (scrub before posting publicly!)
api_key = ''

# set query parameters
state = '42' # Pennsylvania
year = 2019 # most recently available acs five-year estimates

# # vars available at the block group level
# bg_vars = 'B23008_002E'
# bg_var_names = ['children_under_6']

# vars available at the tract level
tract_vars = 'B09001_001E,B09001_002E,B09001_005E,B09001_006E,B01003_001E,B19001_001E,B19001_002E,B19001_003E,B19001_004E,B19001_005E,B19001_006E,B19001_007E,B19001_008E,B19001_009E,B19001_010E,B19001_011E,B19001_012E,B19001_013E,B19001_014E,B19001_015E,B19001_016E,B19001_017E'
tract_var_names = ['est_total_pop_u18', 'est_total_pop_u18_in_households', 'est_total_pop_u18_in_households_5yrs', 
                   'est_total_pop_u18_in_households_6to8yrs', 'total_pop', 'est_total_household_income', 'est_total_household_income_u10k',
                   'est_total_household_income_10to15k', 'est_total_household_income_15to20k', 'est_total_household_income_20to25k',
                   'est_total_household_income_25to30k', 'est_total_household_income_30to35k', 'est_total_household_income_35to40k',
                   'est_total_household_income_40to45k', 'est_total_household_income_45to50k', 'est_total_household_income_50to60k', 
                   'est_total_household_income_60to75k', 'est_total_household_income_75to100k', 'est_total_household_income_100to125k', 
                   'est_total_household_income_125to150k', 'est_total_household_income_150to200k', 'est_total_household_income_200kplus']

In [3]:
# counties = variables.get_counties('42', 2019)
# block_data = variables.get_data_by_block_group(bg_vars, state, counties, api_key, bg_var_names)

In [4]:
# block_data.head()

In [5]:
tract_data = variables.get_data_by_tract(tract_vars, state, api_key, tract_var_names)

# filter for Allegheny County
allegheny_tract_data = tract_data[tract_data['county'] == '003']

# add GEOID column for easy joins to coordinate data
allegheny_tract_data['GEOID'] = allegheny_tract_data['state'] + allegheny_tract_data['county'] + allegheny_tract_data['tract']

<ipython-input-5-de557dc81b66>:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  allegheny_tract_data['GEOID'] = allegheny_tract_data['state'] + allegheny_tract_data['county'] + allegheny_tract_data['tract']

In [6]:
allegheny_tract_data

,est_total_pop_u18,est_total_pop_u18_in_households,est_total_pop_u18_in_households_5yrs,est_total_pop_u18_in_households_6to8yrs,total_pop,est_total_household_income,est_total_household_income_u10k,est_total_household_income_10to15k,est_total_household_income_15to20k,est_total_household_income_20to25k,...,est_total_household_income_60to75k,est_total_household_income_75to100k,est_total_household_income_100to125k,est_total_household_income_125to150k,est_total_household_income_150to200k,est_total_household_income_200kplus,state,county,tract,GEOID
141,538,538,17,101,2878,1238,17,40,75,26,...,127,171,179,68,83,27,42,003,480102,42003480102
142,1119,1119,0,150,6012,2706,173,159,116,128,...,301,200,294,77,189,133,42,003,484500,42003484500
143,178,122,5,28,6652,322,39,49,51,41,...,11,10,0,3,41,0,42,003,010300,42003010300
144,201,196,15,15,5490,2714,235,88,92,94,...,145,254,269,210,145,554,42,003,020100,42003020100
145,100,100,0,9,1576,600,253,16,55,36,...,12,20,14,13,27,3,42,003,040200,42003040200
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3068,159,159,3,34,1244,665,34,51,35,60,...,62,76,34,43,44,39,42,003,060500,42003060500
3069,156,156,0,20,2192,1124,76,48,60,107,...,103,90,103,66,41,180,42,003,070300,42003070300
3070,108,108,11,20,2150,1315,150,21,63,57,...,117,269,79,82,65,133,42,003,070600,42003070600
3071,152,147,4,26,1911,1027,49,44,14,18,...,108,164,81,117,30,31,42,003,080900,42003080900
3072,89,89,8,40,1943,1139,33,36,9,61,...,112,141,135,35,99,150,42,003,090100,42003090100

In [7]:
allegheny_tract_data.to_csv(csv_filename, sep=',', index=False)